
SceneDepthPointCloud/Frameworks/
notebooks/.ipynb_checkpoints
notebooks/
design/

Pods/
demo_videos/
site-download/
scans/
meshfix/
data/ipad_rgbd_capture/
data/
presskit/
wwglobal/

apple-vid/
scan_data/

# Finder
.DS_Store

# Xcode - User files
xcuserdata/

*.pcd
*.ply
*.obj
*.pts
*.mpg
*.avi
*.zip

**/*.xcodeproj/project.xcworkspace/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata

**/*.xcodeproj/project.xcworkspace/xcshareddata/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

**/*.playground/playground.xcworkspace/*
!**/*.playground/playground.xcworkspace/xcshareddata

**/*.playground/playground.xcworkspace/xcshareddata/*
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

3dScannerApp/chair
3dScannerApp/sample
3dScannerApp/thirdparty/include/CGAL
3dScannerApp/thirdparty/include/CGAL_50
3dScannerApp/Experimental/
3dScannerApp/thirdparty/OpenMesh/.split/

#3dScannerApp/thirdparty/open3d/3rdparty/
3dScannerApp/thirdparty/open3d/python/
3dScannerApp/thirdparty/open3d/docs/
3dScannerApp/thirdparty/open3d/examples/
3dScannerApp/thirdparty/open3d/cpp/tests/
3dScannerApp/thirdparty/open3d/cpp/pybind/

#3dScannerApp/Frameworks/boost.framework

# crap 
3dScannerApp/Frameworks/debug
3dScannerApp/scratch_storage
dysms/
3dScannerApp/open3d_kalpesh/
3dScannerApp/liblas__old/
3dScannerApp/thirdparty/include/NOPE__flann
3dScannerApp/Frameworks/opencv2--withflann.framework
3dScannerApp/Frameworks/opencv2.framework/Versions/A/Headers/__flann--

